# Sample of env file
# Location env/.env (create a folder env directory and store .env file there)

DATA_HIVE_DIR = "*****/****"

JQUANTS_API_KEY = "****"

EDINET_API_TOKEN = "******"
EDINET_API_ENDPOINT = "https://api.edinet-fsa.go.jp/api/v2"

GOOGLE_API_CREDENTIALS_PATH = "*****/env/*****.json"
GOOGLE_API_TOKEN_PATH = "*****/env/*****.json"
